.box{
    width: 450px;
    height: 500px;
    border: 2px solid brown;
    background-color: bisque;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;
}
.box-1{
    width: 350px;
    height: 100px;
    border-top: 5px solid #6D4C41;
    border-left: 5px solid #6D4C41;
    border-right: 5px solid #FF9800;
    border-bottom: 5px solid #FF9800;
    margin-bottom: 20px;
    display: flex;
}
img{
    width: 100%;
}
.box-2{
    width: 350px;
    height: 250px;
    border: 5px Dashed #FF9800;
    background-color: yellow;
    overflow-y:scroll;
}
a{
    color: black;
    font-size: 20px;
}
p{
    display: inline;
}