table {
    width: 300px;
    height: 250px;
    text-align: left;
   /* border-spacing: 15px;*/
}
th{
    background-color: #00BFFF;
    height: 40px;
    color: white;
}
tr:nth-child(odd) {
    background-color: #B2EBF2;
  }