.box{
    width: 700px;
    height: 500px;
    border:1px solid red;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
form{
    width: 100%;
    height: 100%;
}
.box1{
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.box2{
    padding: 12px 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box3{
    padding: 12px 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box4{
    width: 65%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.box5{
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box; 
}
.box6{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.box7{
    width: 32%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.box8{
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.box9{
    padding: 12px 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box10{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}
#bio{
    height: 150px;
    width: 100%;
}
#country ,
#adres ,
#pass ,
#email ,
#uname ,
#lname ,
#fname{
    height: 30px;
    width: 100%;
}
#city ,
#zcode{
    height: 25px;
    width: 100%;
}
